/*Fonts used in the theme*/
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&subset=latin-ext');


/*----------------------------------*\
    Cleaning style
\*----------------------------------*/

ul, menu, dir, ol {
  margin: 0px;
  padding: 0px; 
}

:root {
--main_color: #675b78;
--secondary_color:#84bcb0;
}

/*----------------------------------*\
    Main menu
\*----------------------------------*/

.main-menu {
  font-size: 20px;
  font-family: 'Archivo Black', sans-serif;
  display:block;
  min-height:100px;
  background-color: #faf5f5;
}


.navbar-logo__img {
  float: left;
  padding: 18px 25px; 
}


.main-menu__content .main-menu__item {
  list-style: none; 
  display: inline-block;
  padding: 30px 35px 40px;
}

.main-menu__content .main-menu__link {
  color: var(--main_color);
  margin: 0 40px;
  text-decoration: none;
  position: relative;
  float: right;
}

.main-menu__content .main-menu-link:hover:before {
  position:absolute;
  content: "";
  left:0;
  top:50%;
  width:100%;
  border-top:3px solid #d47e7e;
}


.menu-navbar__button {
  position: relative;
  float: right;
  padding: 10px;
  margin: 30px;
  background-color: var(--main_color);
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.menu-navbar__button .icon-bar {
  background-color: var(--secondary_color); 
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.menu-navbar__button .icon-bar+.icon-bar {
  margin-top: 4px;
}


.navbar-collapse{
  float: right;
}

@media (min-width: 768px) {
.menu-navbar__button {
  display: none;
  }
}

@media (max-width: 767px) {
.main-menu__list {
  text-align: center;
}
.main-menu__content{
  border-top: 2px solid var(--main_color);
  }
}